@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../BlazorDemoFluentUITailwind4.Client";

@theme {
    --animate-fade-in-scale: fade-in-scale 0.3s ease-out;

    @keyframes fade-in-scale {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    --animate-slide-down: slide-down 1s;

    @keyframes slide-down {
        from {
            opacity: 0;
            transform: translateY(-2rem);
        }

        to {
            opacity: 1;
            transform: translateY(0rem);
        }
    }

    --animate-slide-in-left: slide-in-left 1s;

    @keyframes slide-in-left {
        from {
            opacity: 0;
            transform: translateX(1rem);
        }

        to {
            opacity: 1;
            transform: translateX(0rem);
        }
    }
}

h6, h5, h4, h3, h2, h1 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-family: inherit;
}

h1 {
    font-size: var(--type-ramp-plus-5-font-size);
    line-height: var(--type-ramp-plus-5-line-height);
}

h2 {
    font-size: var(--type-ramp-plus-4-font-size);
    line-height: var(--type-ramp-plus-4-line-height);
}

h3 {
    font-size: var(--type-ramp-plus-3-font-size);
    line-height: var(--type-ramp-plus-3-line-height);
}

h4 {
    font-size: var(--type-ramp-plus-2-font-size);
    line-height: var(--type-ramp-plus-2-line-height);
}

h5 {
    font-size: var(--type-ramp-plus-1-font-size);
    line-height: var(--type-ramp-plus-1-line-height);
}

h6 {
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
