@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div role="status" style="padding-bottom: 1em;">
    Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
</div>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">FluentUI Click me</FluentButton>

<p></p>

<button type="button" class="border-transparent bg-green-700 text-white py-2 px-4 unselectable ring-offset-white inline rounded-lg font-medium hover:bg-green-800 hover:ring-2 hover:ring-green-300 hover:ring-offset-4 dark:bg-pink-700 dark:ring-offset-black dark:hover:bg-pink-800 dark:hover:ring-2 dark:hover:ring-pink-300 dark:hover:ring-offset-4" @onclick="IncrementCount">Tailwind Click me</button>


@code {

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
