@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div role="status" style="padding-bottom: 1em;">
    Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
</div>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">FluentUI Click me</FluentButton>

<p></p>

<button class="border-transparent bg-pink-500 px-4 py-2 text-white rounded-sm hover:bg-pink-800 focus:outline-hidden focus:ring-2 focus:ring-pink-400" @onclick="IncrementCount">Tailwind Click me</button>

<p></p>

<div class="mt-4">
    <div class="group relative inline-flex">
        <div class="-inset-px group-hover:-inset-1 group-hover:opacity-100 group-hover:duration-200 absolute rounded-xl opacity-70 blur transition-all duration-1000" style="background: linear-gradient(90deg, #44ff9a -0.55%, #44b0ff 22.86%, #8b44ff 48.36%, #ff6644 73.33%, #ebff70 99.34%)"></div>
        <button type="button" class="border-transparent unselectable bg-green-700 py-2 px-4 text-white relative inline-flex rounded-xl border text-base font-semibold transition-all duration-200 focus:outline-hidden focus:ring-2 focus:ring-green-400" @onclick="IncrementCount">Tailwind Click me</button>
    </div>
</div>


@code {

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
