@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div role="status" style="padding-bottom: 1em;">
    Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
</div>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">FluentUI Click me</FluentButton>

<p></p>

<button type="button" class="border-transparent bg-green-700 text-white py-2 px-4 unselectable ring-offset-white inline rounded-lg font-medium hover:bg-green-800 hover:ring-2 hover:ring-green-300 hover:ring-offset-4 dark:bg-pink-700 dark:ring-offset-black dark:hover:bg-pink-800 dark:hover:ring-2 dark:hover:ring-pink-300 dark:hover:ring-offset-4" @onclick="IncrementCount">Tailwind Click me</button>

<p></p>

<div class="mt-4">
    <div class="group relative inline-flex">
        <div class="-inset-px group-hover:-inset-1 group-hover:opacity-100 group-hover:duration-200 absolute rounded-xl opacity-70 blur transition-all duration-1000" style="background: linear-gradient(90deg, #44ff9a -0.55%, #44b0ff 22.86%, #8b44ff 48.36%, #ff6644 73.33%, #ebff70 99.34%)"></div>
        <button type="button" class="border-transparent bg-green-700 py-2 px-4 text-white relative inline-flex rounded-xl border text-base font-semibold transition-all duration-200" @onclick="IncrementCount">Tailwind Click me</button>
    </div>
</div>


@code {

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
