@page "/daisyui"

<PageTitle>DaisyUI</PageTitle>

<section>
    <header class="z-[9] bg-(--neutral-layer-1) sticky top-0 shadow shadow-gray-400 dark:shadow-gray-600">
        <div class="bg-neutral-fill-rest flex justify-between">
            <div class="ml-4 flex select-none items-center py-4 text-lg font-bold md:py-0">
                    Logo
            </div>
            <div>
                <ul class="relative left-0 right-0 flex list-inside list-none space-x-2 px-2">
                    <li>
                        <a href="#" class="none flex items-center p-4 no-underline md:inline-flex hover:bg-neutral-fill-hover">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-4 no-underline md:inline-flex hover:bg-neutral-fill-hover">
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center p-4 no-underline md:inline-flex hover:bg-neutral-fill-hover">
                            <span>About us</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="mx-auto max-w-7xl p-4">
        <div class="mt-10">&nbsp;</div>

        <p class="text-lg"><strong>Welcome to DaisyUI:</strong></p>

        <button class="btn btn-neutral mt-4">Neutral</button>
        <button class="btn btn-primary mt-4">Primary</button>
        <button class="btn btn-secondary mt-4">Secondary</button>
        <button class="btn btn-accent mt-4">Accent</button>
        <button class="btn btn-info mt-4">Info</button>
        <button class="btn btn-success mt-4">Success</button>
        <button class="btn btn-warning mt-4">Warning</button>
        <button class="btn btn-error mt-4">Error</button>
        
    </main>
</section>

<div class="mt-10">&nbsp;</div>

<!-- https : //daisy-components.pinha.link/alert/  https : //github.com/willpinha/daisy-components/tree/master investigate rest of these free components -->

<div class="flex flex-col items-center gap-8">
    <h1 class="self-center text-3xl font-bold">Meet the crew</h1>

    <!-- Team -->
    <div class="grid grid-cols-1 gap-20 sm:grid-cols-3">
        <!-- Member -->
        <div class="flex gap-4">
            <!-- Photo -->
            <img alt="Logo" src="https://randomuser.me/api/portraits/men/44.jpg" class="w-24 rounded-full" />

            <div class="flex flex-col gap-2">
                <!-- Name -->
                <h3 class="font-bold">David Forren</h3>

                <!-- Role -->
                <span class="text-sm">Founder / CEO</span>

                <!-- Socials -->
                <div class="text-accent flex text-xs">
                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-github text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member -->
        <div class="flex gap-4">
            <!-- Photo -->
            <img alt="Logo" src="https://randomuser.me/api/portraits/men/44.jpg" class="w-24 rounded-full" />

            <div class="flex flex-col gap-2">
                <!-- Name -->
                <h3 class="font-bold">Amil Evara</h3>

                <!-- Role -->
                <span class="text-sm">UI/UX Designer</span>

                <!-- Socials -->
                <div class="text-accent flex text-xs">
                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-github text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member -->
        <div class="flex gap-4">
            <!-- Photo -->
            <img alt="Logo" src="https://randomuser.me/api/portraits/men/44.jpg" class="w-24 rounded-full" />

            <div class="flex flex-col gap-2">
                <!-- Name -->
                <h3 class="font-bold">Ebele Egbuna</h3>

                <!-- Role -->
                <span class="text-sm">Support consultant</span>

                <!-- Socials -->
                <div class="text-accent flex text-xs">
                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-github text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member -->
        <div class="flex gap-4">
            <!-- Photo -->
            <img alt="Logo" src="https://randomuser.me/api/portraits/men/44.jpg" class="w-24 rounded-full" />

            <div class="flex flex-col gap-2">
                <!-- Name -->
                <h3 class="font-bold">Maria Powers</h3>

                <!-- Role -->
                <span class="text-sm">Director of sales</span>

                <!-- Socials -->
                <div class="text-accent flex text-xs">
                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-github text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member -->
        <div class="flex gap-4">
            <!-- Photo -->
            <img alt="Logo" src="https://randomuser.me/api/portraits/men/44.jpg" class="w-24 rounded-full" />

            <div class="flex flex-col gap-2">
                <!-- Name -->
                <h3 class="font-bold">Delia Pawelke</h3>

                <!-- Role -->
                <span class="text-sm">Front-end developer</span>

                <!-- Socials -->
                <div class="text-accent flex text-xs">
                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-github text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member -->
        <div class="flex gap-4">
            <!-- Photo -->
            <img alt="Logo" src="https://randomuser.me/api/portraits/men/44.jpg" class="w-24 rounded-full" />

            <div class="flex flex-col gap-2">
                <!-- Name -->
                <h3 class="font-bold">Tom Lowry</h3>

                <!-- Role -->
                <span class="text-sm">UI/UX Designer</span>

                <!-- Socials -->
                <div class="text-accent flex text-xs">
                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-github text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-twitter text-lg"></i>
                    </a>

                    <a class="btn btn-soft btn-sm btn-circle">
                        <i class="fa-brands fa-facebook text-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt-10">&nbsp;</div>

<div class="rating">
    <input type="radio" name="rating-1" class="mask mask-star" aria-label="1 star" />
    <input type="radio" name="rating-1" class="mask mask-star" aria-label="2 star" checked="checked" />
    <input type="radio" name="rating-1" class="mask mask-star" aria-label="3 star" />
    <input type="radio" name="rating-1" class="mask mask-star" aria-label="4 star" />
    <input type="radio" name="rating-1" class="mask mask-star" aria-label="5 star" />
</div>

<div class="mt-10">&nbsp;</div>

<div class="carousel w-full">
    <div id="item1" class="carousel-item w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp"
             class="w-full" alt="image1" />
    </div>
    <div id="item2" class="carousel-item w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp"
             class="w-full" alt="image2" />
    </div>
    <div id="item3" class="carousel-item w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp"
             class="w-full" alt="image3" />
    </div>
    <div id="item4" class="carousel-item w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp"
             class="w-full" alt="image4" />
    </div>
</div>
<div class="flex w-full justify-center gap-2 py-2">
    <a href="daisyui#item1" class="btn btn-xs">1</a>
    <a href="daisyui#item2" class="btn btn-xs">2</a>
    <a href="daisyui#item3" class="btn btn-xs">3</a>
    <a href="daisyui#item4" class="btn btn-xs">4</a>
</div>