@page "/"

<PageTitle>Home</PageTitle>

<p></p>

<h2>
    <span class="bg-gradient-to-r from-purple-600 via-pink-600 to-blue-600 bg-clip-text font-bold text-transparent">Welcome to your new Fluent Blazor Tailwind 4 hybrid.</span>
</h2>
