@page "/"

<PageTitle>Home</PageTitle>

<p></p>

<h1 class="text-darken my-4 text-3xl font-bold leading-tight">
    <span class="from-purple-600 via-pink-600 to-blue-600 text-transparent bg-gradient-to-r bg-clip-text font-bold">Welcome to your new Fluent Blazor app.</span>
</h1>
