@page "/"

<PageTitle>Home</PageTitle>

<p></p>

<FluentStack VerticalAlignment="VerticalAlignment.Center">
    <FluentGrid>
        <FluentGridItem xs="12" sm="12" md="6">
            <div>
                <h2 class="animate-slide-down bg-gradient-to-r from-purple-600 via-pink-600 to-blue-600 bg-clip-text p-4 text-center text-5xl font-bold text-transparent">Blazor, FluentUI, and TailwindCSS Coolness</h2>
                <p class="animate-slide-down py-5 text-xl leading-normal lg:text-xl xl:text-2xl">
                    This demo page demonstrates the hybrid use of
                    Blazor, FluentUI and Tailwind 4. It is used
                    to produce sites that theme easily.
                </p>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="12" sm="12" md="6">
            <div class="animate-slide-in-left relative mx-auto my-auto transform overflow-hidden bg-gradient-to-tr from-purple-400 to-blue-400 p-0.5 shadow-[0_10px_8px_rgba(0,0,0,0.5)] shadow-blue-400/50 duration-300 ease-in-out hover:scale-105" style="width: 319px; height: 204px;">
                <div class="tw-bg-center h-full w-full bg-cover" style="width: 319px; height: 204px; background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('https://cdn.britannica.com/36/123536-050-95CB0C6E/Variety-fruits-vegetables.jpg')">
                    <div class="absolute bottom-0 z-10 flex h-16 w-full items-center justify-center overflow-hidden text-center backdrop-blur-sm">
                        <span class="text-2xl text-white">Fruit Of The World</span>
                    </div>
                </div>
            </div>
        </FluentGridItem>

        <FluentGridItem xs="12" sm="12" md="12">            
            <p class="text-xl leading-normal lg:text-xl xl:text-xl">                
                More content starts here and will span to the width of the page which allows full flexibility in this demonstration. 
            </p>
        </FluentGridItem>
    </FluentGrid>
</FluentStack>


